<div class="m-10">
  <button *ngIf="!archived" class="mt-5 mr-4 mb-4" color="primary" mat-fab extended="" (click)="routeTaskCreation()"
          [disabled]="!authService.hasClaim(ClaimEnum.WRITE)">
    <mat-icon>add</mat-icon>
    Hinzufügen
  </button>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8 w-full" aria-describedby="Liste für aktuelle Aufgaben">

    <!-- Betreff Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort on subject">
        Betreff
      </th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>

    <!-- Erstellungsdatum Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort on creationDate">
        Erstellungsdatum
      </th>
      <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
    </ng-container>

    <!-- Laden Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort on location">
        Laden
      </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort on status">
        Status
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field style="margin-bottom: -1.25em;" class="p-2" (click)="$event.stopPropagation()">
          <mat-label>Wähle den Status</mat-label>
          <mat-select [disabled]="!authService.hasClaim(ClaimEnum.CHANGE) || element.status === StatusEnum.Erledigt"
                      [(value)]="element.status" (valueChange)="onTaskChange(element)"
                      [class.open-select]="element.status === StatusEnum.Offen"
                      [class.in-work-select]="element.status === StatusEnum.Bearbeitung"
                      [class.done-select]="element.status === StatusEnum.Erledigt"
                      [class.blocked-select]="element.status === StatusEnum.Blockiert">
            <mat-option *ngFor="let state of StatusEnum | keyvalue" [value]="state.key"
                        [class.open-select]="state.value === StatusEnum.Offen"
                        [class.in-work-select]="state.value === StatusEnum.Bearbeitung"
                        [class.done-select]="state.value === StatusEnum.Erledigt"
                        [class.blocked-select]="state.value === StatusEnum.Blockiert"
            >{{state.key}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeToTaskEdit(row.taskId)"></tr>
  </table>

  <ng-container *ngIf="dataSource.data.length === 0">
    <p class="text-red-700 p-6 text-center">Keine Aufgaben vorhanden</p>
  </ng-container>
</div>
